@charset "utf-8";
@import url("agregore://theme/vars.css");


@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src: url('agregore://theme/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  font-family: var(--ag-theme-font-family);
  font-size: inherit;
}

body {
  padding: 1em;
}

body>p,
body>a,
body>pre,
body>ol,
body>ul,
body>table,
body>img,
body>form,
body>iframe,
body>video,
body>audio,
body>blockquote,
body>details,
body>h1,
body>h2,
body>h3,
body>h4,
body>h5,
body>h6 {
  max-width: var(--ag-theme-max-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input,
button,
textarea,
select,
select *,
option {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 0.5em;
  border-radius: 0.25em;
}

input {
  font-family: 'FontWithASyntaxHighlighter', monospace;
}

textarea {
  width: 100%;
  resize: vertical;
  margin: 1em auto;
  font-family: 'FontWithASyntaxHighlighter', monospace;
}

select option {
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
}

input,
button,
textarea,
select,
select *,
video,
dialog {
  border: 1px solid var(--ag-theme-primary);
}

fieldset {
  border: 1px solid var(--ag-theme-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

dialog {
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  width: 80vw;
  height: 80vh;
}

details summary {
  cursor: pointer;
}

details summary>* {
  display: inline;
}

details summary::marker,
details summary::-webkit-details-marker {
  color: var(--ag-theme-primary)
}

table {
  border-collapse: collapse;
}

body>table,
body>pre {
  overflow-x: auto;
}

body>pre:only-child {
  color: inherit;
  font-size: inherit;
  background: none;
  padding: 0.5em;
  font-family: 'FontWithASyntaxHighlighter', monospace;
}

th,
td {
  border: 1px solid var(--ag-theme-primary);
  /* Set a common border for all cells */
  padding: 0.5em;
  /* Add some padding inside each cell */
  text-align: left;
  /* Align text to the left within each cell */
}

*::selection,
option:hover {
  background: var(--ag-theme-primary);
  color: var(--ag-theme-text);
}

a {
  color: var(--ag-theme-secondary);
  text-decoration: underline;
  text-decoration-color: var(--ag-theme-primary);
}

a:hover {
  color: var(--ag-theme-background);
  background-color: var(--ag-theme-secondary);
  text-decoration: none;
}

a:visited {
  color: var(--ag-theme-primary);
}

img,
video,
svg,
object,
audio {
  width: 80%;
  display: block;
  margin: 1em auto;
}

iframe {
  display: block;
  margin: 1em auto;
  width: 100%;
  border: none;
}

pre {
  background: var(--ag-theme-primary);
}

code {
  background: var(--ag-theme-primary);
  font-weight: bold;
  padding: 0.25em;
  font-family: 'FontWithASyntaxHighlighter', monospace;
}

blockquote {
  border-left: 1px solid var(--ag-theme-primary);
  margin: 1em;
  padding-left: 1em;
}

blockquote>*::before {
  content: "> ";
  color: var(--ag-theme-secondary);
}

pre>code {
  display: block;
  padding: 0.5em;
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
}

br {
  display: none;
}

ul>li {
  list-style-type: " ⟐ ";
}

hr {
  border-color: var(--ag-theme-primary);
}

*:focus {
  outline: 2px solid var(--ag-theme-secondary);
}

h1 {
  text-align: center;
}

/* Reset style for anchors added to headers */
h2 a,
h3 a,
h4 a {
  color: var(--ag-theme-text);
  text-decoration: none;
}

h1 a {
  color: var(--ag-theme-primary);
  text-decoration: none;
}

h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after {
  text-decoration: none !important;
}

h2::before {
  content: "## ";
  color: var(--ag-theme-secondary)
}

h3::before {
  content: "### ";
  color: var(--ag-theme-secondary)
}

h4::before {
  content: "#### ";
  color: var(--ag-theme-secondary)
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--ag-theme-primary);
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}


audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
  border: none;
  border-radius: none;
}

audio::-webkit-media-controls-timeline {
  background: var(--ag-theme-primary);
  margin: 0px 1em;
  border-radius: none;
}

audio::-webkit-media-controls-panel {
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  font-family: var(--ag-theme-font-family);
  font-size: inherit;
  border-radius: none;
}