@charset "utf-8";
@import url("agregore://theme/vars.css");

* {
  box-sizing: border-box;
}

html, body, input, button, textarea {
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  font-family: var(--ag-theme-font-family);
  font-size: inherit;
}

input, button, textarea {
  border: 1px solid var(--ag-theme-primary);
}

body {
  padding: 1em;
  max-width: var(--ag-theme-max-width);
  margin: 0 auto;
}

a {
  color: var(--ag-theme-secondary);
  text-decoration: underline;
  text-decoration-color: var(--ag-theme-primary);
}

a:visited {
	color: var(--ag-theme-primary);
}

img, video, svg, object {
  width: 80%;
  display: block;
  margin: 1em auto;
}

iframe {
  display: block;
  margin: 1em auto;
}

code {
  background: var(--ag-theme-primary);
  font-weight: bold;
  padding: 0.25em;
}

pre > code {
  display: block;
  padding: 0.5em;
}

br {
  display: none;
}

li {
  list-style-type: " ⟐ ";
}

hr {
  border-color: var(--ag-theme-primary);
}

*:focus {
  outline: 2px solid var(--ag-theme-secondary);
}

h1 {
  text-align: center;
}

/* Reset style for anchors added to headers */
h2 a, h3 a, h4 a {
  color: var(--ag-theme-text);
  text-decoration: none;
}

h1 a {
  color: var(--ag-theme-primary);
  text-decoration: none;
}

h1:hover::after, h2:hover::after, h3:hover::after, h4:hover::after {
  text-decoration: none !important;
}
h2::before {
  content: "## ";
  color: var(--ag-theme-secondary)
}
h3::before {
  content: "### ";
  color: var(--ag-theme-secondary)
}
h4::before {
  content: "#### ";
  color: var(--ag-theme-secondary)
}

*::-webkit-scrollbar {
    width: 1em;
}

*::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--ag-theme-primary);
    border: 2px solid transparent;
    background-clip: content-box;
}
*::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
}
