@import url("agregore://theme/vars.css");

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--ag-color-white);
  font-family: var(--ag-theme-font-family);
}

#view {
  flex: 1;
}

#tools,#drag-bar,#control-buttons {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#drag-bar {
  height: 20px;
  background: var(--ag-theme-background);
  border-bottom: 2px solid var(--ag-theme-primary);
  color: var(--ag-theme-text);
  font-size: 12px;
  padding: 2px;
}
.drag {
  -webkit-app-region: drag;
  flex: 1;
}
#title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#control-buttons {
  width: 100px;
  justify-content: space-around;
}
.control-button {
  padding: 1px 5px 1px 5px;
  border: none;
  background: inherit;
  color: inherit;
  transition: background 0.25s;
}
.control-button:hover {
  background: var(--ag-theme-primary);
}

#search {
  flex: 1;
}

.hidden {
  display: none !important;
}

omni-box {
  display: block
}

.omni-box-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid var(--ag-theme-primary);
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
}

.omni-box-form, .find-menu-form {
  display: flex;
  flex-direction: row;
  flex:1;
  border: none;
}

.omni-box-input, .find-menu-input {
  flex: 1;
  border:none;
  background: none;
  padding: 0.5em;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.omni-box-nav-options {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  border: 2px solid var(--ag-theme-primary);
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
}

.omni-box-nav-options [data-selected] {
  border: 1px solid var(--ag-theme-secondary);
}

.omni-box-nav-options:empty {
  display: none;
}

.omni-box-button, .find-menu-button, .browser-actions-button {
  color: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: none;
  background: none;
  font-family: inherit;
}

.omni-box-nav-item {
  border: 1px solid var(--ag-theme-primary);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

find-menu {
  border: 2px solid var(--ag-theme-primary);
  border-top: none;
  display: flex;
  flex-direction: row;
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
}

browser-actions {
  border: 2px solid var(--ag-theme-primary);
  display: flex;
  flex-direction: row;
  background: var(--ag-theme-background);
  color: var(--ag-theme-text);
  justify-content: center;
  align-items: center;
}

.browser-actions-button {
  padding: 0 0.25em;
}

browser-actions:empty {
  display: none;
}

*:focus {
  outline: 2px solid var(--ag-theme-secondary);
}
