:root {
  --ag-color-purple: #6e2de5;
  --ag-color-black: #111;
  --ag-color-white: #F2F2F2;
  --ag-color-green: #2de56e;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	background: var(--ag-color-white);
	font-family: system-ui;
}

#view {
	flex:1
}

#top {
  display: flex;
  flex-direction: row;
}

#search {
  flex: 1;
}

.hidden {
	display: none;
}

omni-box {
  display: block
}

.omni-box-header {
	display: flex;
	flex-direction: row;
	border: 2px solid var(--ag-color-purple);
	background: var(--ag-color-black);
	color: var(--ag-color-white);
}

.omni-box-form, .find-menu-form {
	display: flex;
	flex-direction: row;
	flex:1;
	border: none;
}

.omni-box-input, .find-menu-input {
	flex: 1;
	border:none;
	background: none;
	padding: 0.5em;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

.omni-box-nav-options {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	border: 2px solid var(--ag-color-purple);
	background: var(--ag-color-black);
	color: var(--ag-color-white);
}

.omni-box-nav-options [data-selected] {
	border: 1px solid var(--ag-color-green);
}

.omni-box-nav-options:empty {
  display: none;
}

.omni-box-button, .find-menu-button {
  color: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: none;
  background: none;
  font-family: inherit;
}

.omni-box-nav-item {
	border: 1px solid var(--ag-color-purple);
	display: flex;
	flex-direction: row;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

find-menu {
	border: 2px solid var(--ag-color-purple);
	display: flex;
	flex-direction: row;
	background: var(--ag-color-black);
	color: var(--ag-color-white);
}



*:focus {
  outline: 2px solid var(--ag-color-green);
}
